html, body{
    margin: 0;
    font-size: 16px;
    background-color: #fff;
    font-weight: 500;
    font-family: 'Raleway';
}



/*GENERAL*/

i {
    color: #000000 ;
}

h1, h2, h3, h4, h5, h6,p{
    margin: 0;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #0065FC;
    transition: all 0.4s;
}



/*MENU*/

nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}
nav div ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   /* margin: 30px;*/
}

nav div ul li {
    list-style: none;
    padding: 0px 30px;

}

nav img{
    width: 100px;
}

#bandeauPromo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    height: 50px;
    font-size: 14px;
}


/*HERO*/


#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(.//images/nike-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}



#hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    z-index: 2;
}

#hero-opacity{
    content: "";
    background-color: #000000;
    opacity: 0.2;
    position: absolute;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -1;

}

#hero-content h1{
    font-weight: 600;
    font-size: 3rem;
}


#hero-content button{
    margin: 20px;
    padding: 20px 50px;
    background-color: #fff;
    color: #000000;
    font-weight: 700;
    border-radius: 40px;
    border: solid 2px black;

}


/*SLOGAN CENTRER PAGE*/

#slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    text-align: center;
}

#slogan h2{
    font-size: 3.4rem;
    font-weight: 900;
}

#slogan p{
    margin-top: 10px;
    font-size: 18px;
}

