html, body{
    margin: 0;
    font-size: 16px;
    background-color: #fff;
    font-weight: 500;
    font-family: 'Raleway';
}



/*GENERAL*/

i {
    color: #000000 ;
}

h1, h2, h3, h4, h5, h6,p{
    margin: 0;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
    transition: all 0.4s;
}

li{
    list-style: none;
}



/*MENU*/
header{
    position:fixed;
    top:0;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    z-index: 999;
   
}

nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}
nav div ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   /* margin: 30px;*/
}

nav div ul li {
    list-style: none;
    padding: 0px 30px;

}

nav img{
    width: 100px;
}

#bandeauPromo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    height: 50px;
    font-size: 14px;
}

/*MENU RESPONSIVE*/

@media screen and (max-width:768px) {

   nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   } 

   nav div{
    margin-top: 10px;
   }

   nav div ul{
    display: flex;
    justify-content: center;
    padding: 0;
   }

   nav div ul li{
    padding: 0px 20px;
   }

   #bandeauPromo{
    font-size: 12px;
    padding: 0px 20px;
   }
    
}


/*HERO*/

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(.//images/nike-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    margin-bottom: 40px;
    margin-top: 161px;
}

#hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 2;
}

#hero-opacity{
    content: "";
    background-color: #000000;
    opacity: 0.3;
    position: absolute;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -1;

}

#hero-content h1{
    font-weight: 600;
    font-size: 3rem;
}


#hero-content button{
    margin: 20px;
    padding: 20px 50px;
    background-color: #fff;
    color: #000000;
    font-weight: 700;
    border-radius: 40px;
    border: none;
}

/*HERO RESPONSIVE*/

@media screen and (max-width:576px) {

    #hero{
        margin-top: 212px; 
    }

    #hero-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        z-index: 2;
    }

    #hero-content h1{
        font-weight: 600;
        font-size: 2.2rem;
        text-align: center;
    }

}
 
@media screen and (max-width:768px) {

    #hero{
        margin-top: 171px; 
    }

    #hero-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        z-index: 2;
    }

    #hero-content h1{
        font-weight: 600;
        font-size: 2.2rem;
        text-align: center;
    }

}


/*SLOGAN CENTRER PAGE*/

#slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    text-align: center;
}

#slogan h2{
    font-size: 3.4rem;
    font-weight: 900;
}

#slogan p{
    margin-top: 10px;
    font-size: 18px;
}

/*SLOGAN CENTRER PAGE RESPONSIVE*/

@media screen and (max-width:576px) {

    #slogan h2{
        font-size: 2.5rem;
        font-weight: 900;
    }

}

@media screen and (max-width:768px) {

    #slogan h2{
        font-size: 2.5rem;
        font-weight: 900;
    }

}


/*PRODUITS PAGE ACCUEIL*/
#product{
    display: flex;
    justify-content: center;
}

.product-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;

}

.product-box{
    /*width: 400px;*/
    height: 500px;
    background-color: white;
    margin: 40px 20px 0px 20px;
}

#product-image-1, #product-image-2, #product-image-3,#product-image-4, #product-image-5, #product-image-6,#product-image-7, #product-image-8, #product-image-9{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;

}

#product-image-1{
    background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/caf24333-490b-4fbd-8c99-dba4665dcd0c/chaussure-vapormax-2021-flyknit-pour-hF2qxf.png);
}

#product-image-2{
    background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/76201dcc-657c-4b3d-8a0f-860bcd3884ff/chaussures-air-max-terrascape-90-pour-MZbvJJ.png);
}

#product-image-3{
    background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d12c7979-0348-4485-9a18-1c3e164a8b93/chaussure-air-max-sc-pour-fdzWNV.png);
}

#product-image-4{
    background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/kybzbkolrlshxvlcw9p7/chaussure-air-max-270-pour-QwjlfC.png);
}

#product-image-5{
    background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/djwtlio5mqtf2ds5fkmp/chaussure-air-max-plus-pour-P1Fh7n.png);
}

#product-image-6{
    background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/0d81cee3-f4a9-4a28-b139-fe9c299c9d7f/chaussures-air-max-sc-pour-bd4QB6.png);
}

#product-image-7{
    background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/dba8706e-3cc2-415f-a2fa-f989edaba590/chaussure-air-max-terrascape-plus-pour-ppK6P9.png);

}

#product-image-8{
    background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d889558a-4e4b-4b28-8887-3f37c69ff3ba/chaussure-air-max-90-futura-pour-q7qs1c.png);
}

#product-image-9{
    background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e0cab608-8c0f-4cca-b615-63efc56e6035/chaussure-air-max-97-pour-gc7n4Z.png);
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

.product-info div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.description-color{
    color: grey;
    font-weight: 400;
    padding-top: 10px;
}

/*PRODUITS PAGE ACCUEIL RESPONSIVE*/

@media screen and (max-width:576px) {

    

    .product-box{
        margin: 20px 0px;
    }
}

@media screen and (max-width:768px) {

    .product-box{
        width: 300px;
        height: max-content;
        background-color: white;
        margin: 30px 10px;
        margin: 30px 10px 0px 10px;
    }
    
    #product-image-1, #product-image-2, #product-image-3,#product-image-4, #product-image-5, #product-image-6,#product-image-7, #product-image-8, #product-image-9{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 300px;
        height: 300px;
    
    }

    .product-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }
}


/*PAGE PRODUIT TYPE*/

#product-choose{
    margin-top: 161px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#product-choose-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #F6F6F6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 20px;
}

#product-choose-right{
    display: flex;
    max-width: 30%;
}

/*.product-image{
    width: 300px;
    height: 300px;
    margin: 20px 10px 0px 10px;
}*/


#product-choose-title{
    margin-top: 20px;
    font-size: 1.5em;

}

#product-choose-title p{
    margin-top: 10px;
    font-size: 16px;
}

#product-choose-price{
    margin: 30px 0px;
}


#product-choose-price h2{
   font-weight: 800;
}



#product-choose-description form{
    display: flex;
    flex-direction: column;
    height: fit-content ;
    justify-content: space-around;
    
    }

#product-choose-size{
    display: flex;
    flex-direction: column;
    padding-top: 20px;

}

#product-choose-colors{
    display: flex;
    flex-direction: column;
   
}

#product-choose-colors div{
display: flex;
padding-right:15px


}

#product-choose-size div{
    display: flex;
    padding-right:15px
}


#product-purchase{
   
    padding: 20px 50px;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    width: fit-content;
    margin-top: 30px;

}


#product-description{
    margin-top: 30px;
    /*width: 50%;*/
}

#product-caracteristic{
    margin-top: 30px;
    /*width: 50%;*/
}

#product-description h3, #product-caracteristic h3 {
margin-bottom: 10px;
}

/*PAGE PRODUIT RESPONSIVE*/

@media screen and (max-width:768px) {

    #product-choose-left{

        width: 100%;
        height: 500px;
        margin: 0px 0px 20px 0px;

    }

    #product-choose-right{

        max-width: 70%;
        margin: 0px 0px 20px 0px;

    }
}


@media (min-width: 768px) and (max-width: 920px) {
    
    #product-choose-left{

        width: 100%;
        height: 500px;
        margin: 0px 0px 20px 0px;

    }

    #product-choose-right{

        max-width: 100%;
        margin: 0px 30px 30px 30px 

    }

    #product-description{
        margin-top: 30px;
        /*width: 50%;*/
    }
 }



 /*PAGE CHECKOUT*/

 #page-checkout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-top: 300px;
    align-items: center;
    margin: auto;
 }

 #form-checkout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 180px;
 }

 #form-checkout input{
    margin-top:5px;
    height: 40px;
    border: solid #D9D9D9 2px;
    border-radius: 5px;
    width: 400px;
 }

 #form-checkout input:focus{
    box-shadow:  0px 0px 4px black;

 }


 #form-checkout div{
    display: flex;
    flex-direction: column;

    padding: 10px 0px;
 }


 /*PAGE CHECKOUT RESPONSIVE*/

@media screen and (max-width:768px) {

    #form-checkout input{
        width: 300px;
     }

     #page-checkout{

        margin-top: 80px;

     }
}


@media (min-width: 768px) and (max-width: 920px) {
    
    #form-checkout input{
        width: 300px;
     }

     #page-checkout{

        margin-top: 80px;

     }
 }


  /*PAGE PAYEMENT*/

  #payement{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #payement i{
    margin-bottom: 30px;
    color: green;
    font-size: 5rem;
  }




  /*PAGE PANIER*/

  #panier{
    margin: 180px auto;
    width: 90%;
  }

  .panier-produit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 50px 0px 0px;
    border: solid 1px black ;
    margin: 15px 0px;
  }

#panier-image {
    height: 300px ;
    width: 300px ;
    background-position: center;
    background-size: cover;
  }

#montant-panier{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px ;
}

#product-description p span{
    font-weight: 500;
}

/*PAGE PANIER RESPONSIVE*/

@media screen and (max-width:768px) {

    .panier-produit{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px 0px 20px 0px;
        border: solid 1px black ;
    }
    
    .panier-produit div {
        width: 75%;
        margin: auto;
        padding: 15px 0px;
    }

}


label {
    font-weight: 500;
    font-family: 'Raleway';
    font-size: 1rem;
    padding-right: 10px;
}

select {
    margin-top: 10px;
    font-weight: 500;
    font-size: .9rem;
    padding: 10px 30px 10px 5px;
}



/*FOOTER*/

footer{
    margin-top: 30px;;
    height: 100px;
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

#footer-nav ul{
    display: flex; 
}

#footer-nav ul li {
    padding: 0px 20px;
}



@media screen and (max-width:768px) {

    #footer-nav ul li {
        padding: 0px 10px;
    }

}


.btnSuppression{
    padding: 10px 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    width: fit-content;
  
}


#btnSuppressionPanier{
    padding: 10px 10px;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    width: fit-content;
}